@model EliApp.Models.EntryModel

@{
    ViewData["Title"] = "Details";
}

<h1>Journal Entry</h1>

<!--Print Entry Journal: Must contain a print button-->
<input class="btn btn-info rounded-pill btn-md" type="button" value="Print Journal Entry" onclick="window.print();">

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
            @Html.DisplayNameFor(model => model.account1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.account2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.account2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.supportingFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.supportingFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.accountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.accountType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.comment)
        </dt>
        @{
            if(Model.state == EntryState.PENDING)
            {
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.comment)
                    </dd>
            }
            else
            {
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.comment)
                    </dd>
            }
        }
    </dl>
</div>
@{
    if (Model.state == EntryState.PENDING)
    {
        <div class="form-group">
            <label asp-for="comment" class="control-label">Comments</label>
            <input asp-for="comment" class="form-control" />
            <span asp-validation-for="comment" class="text-danger"></span>
        </div>
        <a asp-action="Approved" asp-route-id="@Model.Id" type="submit" class="btn btn-primary">Approve</a>
        <a asp-action="Declined" asp-route-id="@Model.Id" type="submit" class="btn btn-danger">Decline</a>

    }
    else
    {
        <div class="form-group">
            <label asp-for="comment" class="control-label">Comments</label>
            <input asp-for="comment" class="form-control" readonly />
            <span asp-validation-for="comment" class="text-danger"></span>
        </div>
    <form>
            <div class="form-group">
                <label asp-for="comment" class="control-label">Comments</label>
                <input asp-for="comment" class="form-control" />
                <span asp-validation-for="comment" class="text-danger"></span>
            </div>
    </form>
    <a asp-action="Approved" asp-route-id="@Model.Id" type="submit" class="btn btn-primary">Approve</a> 
    <a asp-action="Declined" asp-route-id="@Model.Id" type="submit" class="btn btn-danger">Decline</a>
        
    }
}

@{
    if (Model.state != EntryState.APPROVED)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
    </div>
    }
    else
    {
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
}

