@model IEnumerable<EliApp.Models.EntryModel>

@{
    ViewData["Title"] = "Journal";
}
@using (Html.BeginForm())
{
    <div class="input-group-text">
        Find: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}

<h1>Journal</h1>

<p>
    <a asp-action="Create">Write New Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountInvolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supportingFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountInvolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supportingFile)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">View Entry</a>
            </td>
        </tr>
}
    </tbody>
</table>
