@model IEnumerable<EliApp.Models.EntryModel>

@{
    ViewData["Title"] = "Index";
    float total = 0;
    foreach(var item in Model)
    {
        total += item.amount;
    }
}
@using (Html.BeginForm())
{
    <form class="input-group-text">
        Find: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
}

<h1>Journal</h1>


<!--Print Entry Journal: Must contain a print button-->
<input class="btn btn-info rounded-pill btn-md" type="button" value="Print Journal Entry" onclick="window.print();">


<p>
    <a asp-action="Create">Write New Entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                Dr.
            </th>
            <th>
                Cr.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id) </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.accountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @item.amount.ToString("C")
            </td>
            <td>
                -@item.amount.ToString("C")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">View Entry</a>
            </td>
        </tr>
}
    </tbody>
    <tbody>
        <tr>
            <td><b>Total Balance</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            @{
                double balanceTotal = 0;
                foreach (var item in Model)
                {
                    balanceTotal += item.amount;
                }
                <td> @balanceTotal.ToString("C") </td>
                <td> -@balanceTotal.ToString("C") </td>
            }
            <td></td>
            
        </tr>
    </tbody>
</table>
