@model IEnumerable<EliApp.Areas.Identity.Data.EliAppUser>


@{
	ViewBag.Titles = "All Users";
}

<h1>All Users</h1>
@if(Model.Any())
{
	<a asp-area="Identity" asp-page="/Account/Register"
	class="btn btn-primary mb-3" style="width:auto">
		Add new user
	</a>

	foreach (var user in Model)
	{
		<div class="card mb-3">
			@*commented out the id field*@
			@*<div class="card-header">
				User Id : @user.Id
			</div>*@
			<div class="card-body">
				<h5 class="card-title">@user.FirstName @user.LastName</h5>
			</div>
			<div class="card-footer">
				<form asp-action="ActivateUser" asp-route-id="@user.Id" method="post">
					<a asp-action="EditUser" asp-controller="user"
					asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
					@*Theese are the buttons for user activation and deactivation*@
					<button asp-action="ActivateUser" asp-route-id="@user.Id" type="submit" class="btn btn-primary">Activate User</button>
					<button asp-action="DeactivateUser" asp-route-id="@user.Id" type="submit" class="btn btn-danger">Deactivate User</button>
				</form>
			</div>
		</div>
	}
}
else
{
	<div class="card">
		<div class="card-header">
			No users created yet
		</div>
		<div class="card-body">
			<h5 class="card-title">
				Use the button below to create a user
			</h5>
			<a class="btn btn-primary" style="width:auto"
				asp-controller="user" asp-action="Register">
				Add new user
			</a>
		</div>

	</div>
}