@model EliApp.Models.AccountModel
@{
    ViewData["Title"] = "Account Details";
    IEnumerable<LedgerModel> Ledgers = ViewData["Ledgers"] as IEnumerable<LedgerModel>;
}
@*inject LedgerModel Ledger*@
@inject IEnumerable<EliApp.Models.LedgerModel> LedgerModel

<style>
table, th, td {
  border:2px solid black;
}
</style>
<h1>Account Details</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountSubcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountSubcategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountInitialBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountInitialBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCurrentBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCurrentBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountCreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountCreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountStatement)
        </dd>
    </dl>
</div>

<hr />
<h2>Associated Ledgers</h2>

<table style="width:50%">
    <tr>
        <th>Date</th>
        <th>Account</th>
        <th>Debits</th>
        <th>Credits</th>
        <th>PR </th>
    </tr>
    @foreach(LedgerModel ledger in Ledgers)
    {
        if (ledger.creditAmount == 0)
        {
            <tr>
                <td>
                    @ledger.date
                </td>
                <td>
                    To 
                    @ledger.associatedAccountName
                </td>
                <td>
                    @ledger.debitAmount
                </td>
                <td>
                    @ledger.creditAmount
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Entry" asp-route-id="@ledger.journalEntryID">Journal Entry</a>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @ledger.date
                </td>
                <td>
                    By 
                    @ledger.associatedAccountName
                </td>
                <td>
                    @ledger.debitAmount
                </td>
                <td>
                    @ledger.creditAmount
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Entry" asp-route-id="@ledger.journalEntryID">Journal Entry</a>
                </td>
            </tr>
        }
    }
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Details" asp-controller="Entry" asp-route-id="@Model?.entryId">PR</a>
</div>
