@model IEnumerable<EliApp.Models.AccountModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountSubcategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountInitialBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountCreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountComment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountSubcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountInitialBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCurrentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountStatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountComment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
